@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--iframe-height: 60vh;
	--filter-height: 50px;
}

@layer utilities {
	.font-chinese {
		font-family: "adobe-kaiti-std", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
}

@layer base {
	body {
		padding-bottom: var(--iframe-height);

		@screen lg {
			@apply pb-0;
		}
	}

	table {
		@apply relative bg-white border-spacing-0 border-collapse;
	}

	thead {
		@apply sticky bg-slate-300 shadow-lg border-b-slate-900 uppercase top-0 text-xs;

		@screen lg {
			@apply top-0;
		}
	}

	table,
	thead {
		@apply w-full;
	}

	td {
		&:nth-child(2) {
			@apply lg:text-2xl;
		}

		&:nth-child(3) {
			@apply text-xs;
		}

		&:nth-child(3),
		&:nth-child(4) {
			@apply lg:text-2xl text-center;
		}

		&:nth-child(4) {
			@apply font-bold;
		}
	}

	th {
		&:nth-child(3),
		&:nth-child(4) {
			@apply text-center;
		}
	}

	th,
	td {
		@apply w-0 text-left py-1 px-2 lg:px-4 lg:py-2 border-b border-b-slate-400;
	}

	tbody tr:hover {
		@apply bg-slate-100;
	}
}

@layer components {
	.filter {
		height: var(--filter-height);
	}

	[data-details] {
		@apply relative z-10;
		height: var(--iframe-height);
	}

	[data-details-open] {
		@apply border-none text-blue-700 bg-transparent p-0 font-chinese text-5xl md:text-5xl;

		&:hover {
			text-decoration: underline;
		}
	}

	[data-a11y-dialog-show] {
		@apply border-none text-blue-700 bg-transparent p-0;

		&:hover {
			text-decoration: underline;
		}
	}

	// .wrapper {
	// 	@apply relative;

	// 	&::before {
	// 		content: "";
	// 		position: absolute;
	// 		z-index: 1;
	// 		right: 0;
	// 		top: 0;
	// 		bottom: 0;
	// 		width: 30px;
	// 		pointer-events: none;
	// 		background-image: linear-gradient(to left, white, transparent);
	// 	}
	// }

	// @screen md {
	// 	.wrapper {
	// 		&::before {
	// 			display: none;
	// 		}
	// 	}
	// }

	@screen lg {
		.wrapper {
			height: calc(100vh - var(--filter-height));
		}
	}
}
