@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap");

:root {
	--iframe-height: 60vh;
	--filter-height: 50px;
}

@layer base {
	body {
		padding-bottom: var(--iframe-height);

		@screen lg {
			@apply pb-0;
		}
	}

	table {
		@apply relative bg-white border-spacing-0 border-collapse;
	}

	thead {
		@apply sticky bg-slate-300 shadow-lg border-b-slate-900 uppercase top-0 text-xs;

		@screen lg {
			@apply top-0;
		}
	}

	table,
	thead {
		@apply w-full;
	}

	td {
		font-size: 1.1rem;

		&:nth-child(1),
		&:nth-child(2) {
			@apply whitespace-nowrap;
		}

		&:nth-child(1) {
			@apply text-3xl lg:text-5xl;
		}

		&:nth-child(2) {
			@apply text-lg lg:text-2xl;
		}

		&:nth-child(3) {
			@apply text-lg lg:text-2xl;
		}
	}

	th,
	td {
		@apply w-0 text-left p-1 lg:p-4 border-b border-b-slate-400 lg:p-2;
	}

	tbody tr:hover {
		@apply bg-slate-100;
	}
}

@layer components {
	.filter {
		height: var(--filter-height);
	}

	[data-details] {
		height: var(--iframe-height);
	}

	[data-details-open] {
		@apply border-none text-blue-700 bg-transparent p-0;
		font-family: "Noto Serif TC", serif;

		&:hover {
			text-decoration: underline;
		}
	}

	[data-a11y-dialog-show] {
		@apply border-none text-blue-700 bg-transparent p-0;

		&:hover {
			text-decoration: underline;
		}
	}

	@screen lg {
		.wrapper {
			height: calc(100vh - var(--filter-height));
		}
	}
}
